__site/
_rss/
.DS_Store
franklin
franklin.pub
node_modules/
package.json
package-lock.json

Manifest.toml
_assets/og-image/
**/*.log
**/*.txt
tutorials/*.md
tutorials/**/*.html
tutorials-old/*.jl
tutorials-old/*.md
tutorials-old/**/*.html
notebooks/*.md
notebooks/**/*.html
**/_tmp_*.jl
**/*backup*.jl
